<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.pluto.meek"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true">
        
         <activity android:name="info.guardianproject.pluto.meek.PlutoActivity">
             <intent-filter>
 			 <action android:name="info.guardianproject.pluto.PLUGIN" />
		</intent-filter>
             </activity>
    </application>

</manifest>
